In [1]:
#Import Statements
import pandas as pd
import math
import numpy as np
import matplotlib.pyplot as plt
plt.rcParams["font.family"] = "sans-serif"
import seaborn as sns

sns.set() # Setting seaborn as default style
sns.set_theme()

# declare global helpers
condition_values = ['0ms','10ms','400ms','10ms echo','400ms echo']
groupnames = [0,1,2,3,4]
browsernames = ["MSIE", "Firefox", "Safari", "Chrome", "Opera"]

In [2]:
# Columns below this comment are as follows:
# 1. Time results were received.
# 2. MD5 hash of participant's IP address.
# 3. Controller name.
# 4. Item number.
# 5. Element number.
# 6. Type.
# 7. Group.
# 8. Field name.
# 9. Field value.
df = pd.read_csv('results_vp_hours.txt',
                 sep = ',',
                 comment='#', 
                 header=None,
                 names = ['time','hash','controller','item','element', 'type', 'group','field_name', 'value'],
                engine = 'python')

In [6]:
names = df.iloc[::3, :]['value']
emails = df.iloc[1::3, :]['value']
names = names.reset_index(drop=True)
emails = emails.reset_index(drop=True)
vp = pd.DataFrame({'name': names,'email':emails,})
vp.to_csv('vp_hour_list.csv', index = False, encoding='utf-8')
vp

                  name                        email
0            Test Name                 test@name.de
1        Petau%2C Aron               aron@petau.net
2        Petau%2C Aron               aron@petau.net
3         Pries%2C Tom                tpries@uos.de
4    Bödiker%2C Jasmin  Jboediker@uni-osnabrueck.de
5      Klehr%2C Marcel                mklehr@uos.de
6   Anna Luise Backsen    abacksen@uni-osnabrück.de
7    Richert%2C Hannah   hrichert@uni-osnabrueck.de
8     Bracht%2C Rahel                rbracht@uos.de
9       Timm%2C Franka                 ftimm@uos.de
10       Starke%2C Per           per@starke-team.de
11     Litsch%2C Jakob               jlitsch@uos.de
12      Otten%2C Jonas               jootten@uos.de
13   Jan-Luca Schröder          janlschroede@uos.de
14    Fiedler%2C Clara             clfiedler@uos.de
15     Giebken%2C Lara   lgiebken@uni-osnabrueck.de
16    Webers%2C Hannah         hannah.webers@gmx.de